.ant-upload-list-picture-card{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 350px;
}

.ant-upload-list-picture-card-container{
    width: 250px;
    height: 250px;
}

.ant-upload.ant-upload-select-picture-card{
    width: 250px;
    height: 40px;
}